{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">


    <div class="row">
            <div class="col-md-3">
                

            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="">Create Post</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'hoodPost' %}" method="post">
                    
                            {%csrf_token%}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary" style="font-size:18px;">Create Post</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}