{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}

<div class="row">
            <div class="col-md-3"></div>
			<div class="col-md-7">
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="">Edit Business</h3>
					</div>
					<div class="panel-body">
						<form action="{% url 'editBusiness' business.id %}" method="post">
							
							{%csrf_token%}
							{% bootstrap_form form %}
							<button type="submit" class="btn btn-success" style="font-size:18px;">Update Business Info</button>
						</form>
                    </div>
                    
				</div>
			
				
			
			</div>
			<div class="col-md-2"></div>
		
</div>
{%endblock%}