{%extends 'base.html'%}
{% load bootsrap3 %}
{%block content%}
<div class="row container" style="padding-bottom:20px">
		
			
			<div class="col-md-9">
                <h3 >View all your Neighbourhoods you created!</h3>
                  
				<div class="row">
					{% if hoods %}
				
					{%for hood in hoods%}
					<div class="col-md-6">
						<div class="panel panel-default">
							
							<div class="panel-heading">
								{{hood.hood_name}}
							</div>
							<div class="panel-body">
								<p>{{hood.hood_description}}</p>
								
								
							</div>
							
							

						</div>
					</div>
					{%endfor%}
					{%else%}
					<h4>You havent created any Neighbourhoods yet! You can create one <a href="{% url 'createHood' %}">here</a> </h4>
					{%endif%}

							
				
			</div>
			
			</div>
			
		
	</div>
{%endblock%}