{%extends 'base.html'%}
{%load bootstrap3 %}
{% block content%}
	<div class="container-fluid">
			<div class="jumbotron text-center" style="font-size:20px; background-color:ghostwhite;height:50px;padding:0px;color:black">
					{% if user.join %}
					<a href="{%url 'profile' %}" style="margin-right:10px;">Profile |</a>
					<a href="{% url 'createBusiness' %}" style="margin-right:10px;">Create Business |</a>
					<a href="{% url 'business' %}" style="margin-right:10px;">My Businesses |</a>
					<a href="{% url 'allPosts' %}" style="margin-right:10px;">My Posts |</a>
					<a href="{% url 'hoodPost' %}" style="margin-right:10px;">Create Post |</a>
					<a href="{% url 'createHood' %}" style="margin-right:10px;">Create Neighbourhoods |</a>
					<a href="{% url 'deleteHood' hood.id %}">Delete Hood</a>
					{% endif %}
			</div>
			<div class="row container" style="padding-bottom:20px;">
		
					<div class="col-md-4"></div>
					<div class="col-md-8"  style="font-size:20px; color:lavender">		
						<h2 style="font-weight: bolder;" >{{hood.hood_name}}</h2>
						<p><span style="font-weight:bolder;">Hood :</span> {{hood.hood_location}}</p>
						<p><span style="font-weight:bolder;">Hood Population :</span> {{hood.hood_count}} </p>
						<h4>{{hood.user_bio}}</h4>
						<a class="btn btn-success" href="{% url 'hoodPost' %}" style="font-size:18px;">Create Post</a>
						<a class="btn btn-danger" href="{% url 'exitHood' hood.id%}" style="font-size:18px;">Exit Neighbourhood</a>
						
							
					</div>
					
				
			</div>
			{%if posts%}		    	
			<div class="row">
				<div class="col-md-6" style="color:lavender">
					{% for post in posts %}
					<h1 class="text-center" >POSTS</h1>
					
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-8" id="posts" style="padding-bottom:10px;">
									<p>
									<span  style="font-weight:bolder;">Title :</span><a href="{% url 'singlePost' post.id %}">{{post.title}} </a>
									</p>
									<p>{{post.body}}</p>	
									<p><span style="font-weight:bolder;">Posted by :</span> {{post.user}}</p>
									<a class="btn btn-primary" href="{% url 'singlePost' post.id %}" style="font-size:18px;">Comment</a>
								</div>	
								<div class="col-md-2"></div>
							</div>
						
						
					{% endfor %}
					{% else %}
					<h4 class="text-center" style="color:lavender;font-size:20px;font-weight:bolder;">No Post has been created for this hood yet. Be the first to create <a href="{% url 'hoodPost' %}">here</a></h4>
					{% endif %}

				</div>
				<div class="col-md-6" style="color:lavender">
					{% if business %}
					{% for biz in business %}
					<h1 class="text-center">BUSINESSES</h1>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8" id="business" style="padding-bottom:10px;">
								<p><span style="font-weight:bolder;">Name: </span><a href="{% url 'business' %}">{{biz.biz_name}}</a></p>
								<p><span style="font-weight:bolder;">Description: </span> {{biz.biz_description}}</p>
								<a href="{% url 'editBusiness' biz.id %}" class="btn btn-primary" style="font-size:18px;">Edit</a>
							</div>
							
							<div class="col-md-2"></div>
						</div>
							
						
							
					{%endfor%}
				    {% else %}
					   <h4 class="text-center" style="color:lavender;font-size:20px;font-weight:bolder;">No Business has been created for this hood yet. Be the first to create <a href="{% url 'createBusiness' %}">here</a></h4>
				    {% endif %}
				</div>

					
				</div>
			

	</div>
	
			
				
				
			


{%endblock%}


