{% extends 'base.html' %}


{% block content %}

<div class="container-fluid" style="background-color: rgb(30, 60, 97);" >
		
		{% if user.join %}
		<div class="jumbotron text-center" style="font-size:20px; background-color:ghostwhite;height:50px;padding:0px;color:black">
			<a href="{%url 'profile' %}" style="margin-right:10px;">Profile |</a>
			<a href="{% url 'createBusiness' %}" style="margin-right:10px;">Create Business |</a>
			<a href="{% url 'business' %}" style="margin-right:10px;">My Businesses |</a>
			<a href="{% url 'allPosts' %}" style="margin-right:10px;">My Posts |</a>
			<a href="{% url 'hoodPost' %}" style="margin-right:10px;">Create Post |</a>
			<a href="{% url 'createHood' %}" style="margin-right:10px;">Create Neighbourhoods |</a>
		</div>
		{% endif %}
	<div class="row">
		

		    <div class="col-md-3"></div>
			<div class="col-md-7" style="font-size:23px; color:white;">
				
				<h2 style="font-size: 36px;font-weight:bolder;">USER: {{profile.user}}</h2>
				<p><span style="font-weight:bolder;font-size:23px;">Hood Location:</span> {{user.join.hood_id.hood_location}} </p>
				<p><span style="font-weight:bolder;font-size:23px;">Neighbourhood:</span>  {{user.join.hood_id.hood_name}}</p>
				<h4><span style="font-weight:bolder;font-size:23px;">Bio:</span> {{profile.user_bio}}</h4>
				<a class="btn btn-success" href="{% url 'editProfile' %}" style="font-size:18px;">Update Profile</a>
							
			</div>
			<div class="col-md-2"></div>
		
	</div>

</div>



{% endblock %}


